.about_us{
    height: 100vh;
    padding: 65px 185px;
    box-sizing: border-box;
    background-color: #f8fafa; 
    /* display: none;    */
}
.about_us-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_us-name{
    font-family: 'Montserrat';
    font-size: 36px;
    line-height: 28px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.about_us-desc{
    font-family: 'Merriweather';
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-top: 15px;
}
.about_content{
    display: flex;
    height: 100%;
    align-items: center;
}
.about_content-pic{
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    width: 100%;
    height: 70vh;
}
.about_pic-item{
    width: 100%;
    height: 95%;
    background: url(/img/about_pic.png) no-repeat center;
    background-size: cover;
}
.about_desc{
    flex: 6;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    box-sizing: border-box;
    height: 70vh;
}
.about_desc h2{
    font-family: Merriweather;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.about_desc h3{
    font-family: Merriweather;
    font-size: 15px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-top: 15px;
}
.about_desc div{
    font-family: Raleway;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: justify;
    margin-top: 20px;
}
.about_desc div div{
    margin-top: 35px;
}
.about_dots{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.about_dots div{
    width: 10px;
    height: 10px;
    background-color: #d0d0d0;
    border-radius: 3px;
}
.about_dots a:first-child{
    margin-left: 0;
}
.about_dots a{
    text-decoration: none;
    margin-left: 5px;
}
.about_dots div:hover{
    background-color: #71f6eb;
    transition: .2s;
}
