.burger-menu{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.884);
    padding: 20px;
    display: none;
}
.burger-links{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.burger-links a{
    color: #ffffff;
}
.burger-links a:hover{
    text-decoration: none;
    color: rgb(172, 172, 172);
}
.close-button{
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}