body{
  width: 100%;
}

.wrapper {
  width: 100%;
  box-sizing: border-box;
}

.main {
  background-color: #eff0f2;
  height: 100vh;
  padding: 65px 150px;
  box-sizing: border-box;
  /* display: none; */
}
.main_top{
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 113px;
  height: 36px;
  border: 5px solid #170f1c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 17px;
  line-height: 28px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  text-decoration: none;
}
.logo:hover{
  text-decoration: none;
  color: #000000;
}
.logo span{
  font-size: 21px;
  color: #77efe5;
}
.main_desc{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main_desc div{
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #505050;
}
.main_desc div span{
  padding: 0 10px;
  background-color: #76f4ea;
}
.main_bottom{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
}
.main_bottom button{
  font-family: Montserrat;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: #000000;
  width: 240px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_bottom div{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
