.say{
    height: 100vh;
    padding: 100px 150px 70px 150px;
    box-sizing: border-box;
    background-color: #f9fbfb;
    /* display: none; */
}
.say-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.say-name{
    font-family: 'Montserrat';
    font-size: 36px;
    line-height: 28px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.say_content-item {
    display: flex;
}
.say-content{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.say_content-pic{
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.carousel_under{
    width: 393px;
    height: 362px;
    background-color: #ecedef;
    display: flex;
    justify-content: center;
}
.say-desc{
    font-family: Merriweather;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-top: 15px;
}
.carousel_block{
    width: 320px;
    height: 113%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
}
.carousel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 100%;
}
.carousel-indicators{
    position: absolute;
    height: 53px;
    bottom: -70px;
    align-items: flex-end;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    background-color: #d0d0d0;
    border-radius: 3px;
}
.carousel-indicators li:hover{
    background-color: #71f6eb;
}
.carousel-indicators .active{
    width: 11px;
    height: 10px;
    background-color: #71f6eb;
    border-radius: 3px;
}
.say_info{
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
}
.carousel-control-next,
.carousel-control-prev{
    position: relative;
    width: 53px;
    height: 53px;
    background-color: #ffffff;
    box-shadow: 3px 7px 11px 0px rgba(20,20,21,0.05);
    border-radius: 3px;
}
.carousel-control-prev:hover,
.carousel-control-next:hover{
    background-color: #71f6eb;
}

.carousel-control-prev{
    margin-right: 20px;
}
.what_say{
    width: 100%;
    height: 362px;
    background-color: #eaebed;
    border-radius: 3px;
}
.controls{
    flex: 7;
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    justify-content: flex-end;
    align-items: flex-end;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-image: url(/img/control_left.png);
    width: 14px;
    height: 15px;
}
.carousel-control-next-icon{
    transform: rotateY(180deg);
}
.say_content-controls{
    display: flex;
}
.carousel-indicators{
    flex: 5;
}
.what_say{
    box-sizing: border-box;
    padding: 50px 80px 30px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.say_name{
    opacity: 0.94;
    font-family: Merriweather;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin: 0 auto;
}
.say_name span{
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
}
.say_phrase{
    text-align: justify;
    margin: 10px auto 0 auto;
    opacity: 0.7;
    font-family: Raleway;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 0.06em;
}
.stars{
    margin: 10px auto 0 auto
}

