.services{
    padding: 120px 150px;
    box-sizing: border-box;
    background-color: #f9fbfb;
    /* display: none; */
}
.services-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-name{
    font-family: 'Montserrat';
    font-size: 36px;
    line-height: 28px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.services-desc{
    font-family: 'Merriweather';
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-top: 15px;
}
.services_content{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 270px 270px 270px;
    gap: 10px 10px;
    grid-template-areas:
      "l1 l1 l1 l1 l1 s1 s1 s1 s1"
      "l2 l2 l2 l2 l2 s2 s2 s2 s2"
      "s3 s3 s3 s3 l3 l3 l3 l3 l3";
    margin-top: 120px;
  }

.services_card-lg1{
    grid-area: l1;
    position: relative;
    background: url(/img/services-block/services_pic1.png) no-repeat ;
    background-size: cover;
}
.services_card-sm1{
    grid-area: s1;
    position: relative;
    background: url(/img/services-block/services_pic2.png) no-repeat center;
    background-size: cover;
}
.services_card-lg2{
    grid-area: l2;
    position: relative;
    background: url(/img/services-block/services_pic3.png) no-repeat center;
    background-size: cover;
}
.services_card-sm2{
    grid-area: s2;
    position: relative;
    background: url(/img/services-block/services_pic4.png) no-repeat center;
    background-size: cover;
}
.services_card-lg3{
    grid-area: l3;
    position: relative;
    background: url(/img/services-block/services_pic6.png) no-repeat center;
    background-size: cover;
}
.services_card-sm3{
    grid-area: s3;
    position: relative;
    background: url(/img/services-block/services_pic5.png) no-repeat center;
    background-size: cover;
}
.card_desc-more:hover{
    background-color: rgba(0, 0, 0, 0.6);
    transition: .3s;
    cursor: pointer;
}
/* .services_card-sm1 img,
.services_card-sm2 img,
.services_card-sm3 img,
.services_card-lg1 img,
.services_card-lg2 img,
.services_card-lg3 img{
    width: 100%;
    height: 100%;
} */

.card_desc-more{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 35px 85px 35px 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card_desc-more button{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #f9fbfb;
}
.card_desc-more img:hover{
    transform: translateX(7px);
    cursor: pointer;
    transition: .4s;
}
.card_button img{
    width: 22px;
    height: 14px;
    margin: 0 0 0 10px;
}
.card_name{
    font-family: Merriweather;
    font-size: 18px;
    line-height: 29px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: .94;
}
.card_desc{
    font-family: Raleway;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 15px;
    opacity: .9;
}
.card_button{
    margin-top: 25px;
    opacity: .9;
    display: flex;
    align-items: center;
}
